<style>
#cytat    {border-left:0;border-bottom:0;border-right:0;font-family: 'Londrina Shadow', cursive;font-size:35px;color:white;}
#przycisk {border-left:0;font-size:35px;color:white;}
</style>
<table class="table" id="cytat">
  <thead>
    <th>Cytat</th>
    <th>Zrodlo</th>
    <th></th>
  </thead>

<% @fortunes.each do |fortune| %>
  <tr id="cytat">
    <td id="cytat"><%= fortune.cytat %></td>
    <td id="cytat"><%= fortune.zrodlo %></td>
    <td id="przycisk"><%= link_to 'Pokaż', fortune,:class => 'btn' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj Cytat', new_fortune_path, :class => 'btn' %>
